
<div class="row">
    <div class="spinHolder">
            <mat-spinner *ngIf="!userDetails"></mat-spinner>
    </div>
    <div class="col-xl-12 mt-3" *ngIf="userDetails">
        <!-- CARD LAYOUT -->
        <mat-card>
                
                <mat-card-header *ngIf="userDetails">
                        <div mat-card-avatar [style.backgroundImage]="'url('+userDetails.photoURL+')'" class="cardAvatar"></div>
                        <mat-card-title>{{userDetails.name}}</mat-card-title>        
                        <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
                      </mat-card-header>
                
                  
        </mat-card>
        <!-- /CARD LAYOUT -->
        <button class="mt-3" mat-raised-button color='primary' (click)="showLogs()" >Show Log</button>
        <button class="mt-3" mat-raised-button color='primary' (click)="log()">CHECK IN</button>
        <button class="mt-3" mat-raised-button color='accent'>CHECK OUT</button>
        <!-- CARD LAYOUT -->
        <section class="todayLogin mt-3">
            <div class="row" *ngIf="checkInTime">

            
                <div class="col-lg-4" *ngIf="checkInTime">
                        
                         <mat-chip-list class="mat-chip-list-stacked">
                             <mat-chip selected="true" color="accent">
                                    <span class="h6">{{checkInTime}}</span>
                              
                             </mat-chip>
                           </mat-chip-list>
                          
                     </div>
                     <div class="col-lg-4" *ngIf="checkOutCalc">
                     
                      <mat-chip-list class="mat-chip-list-stacked">
                          <mat-chip selected="true" color="primary">
                                <span class="h6">{{checkOutCalc}}</span>
                           
                          </mat-chip>
                        </mat-chip-list>
                       
                     </div>
                    <div class="col-lg-4" >
                            <mat-spinner *ngIf="!durationHours"></mat-spinner>
                      <mat-chip-list *ngIf="durationHours" class="mat-chip-list-stacked">
                          <mat-chip selected="true" color="primary">
                           <span class="display-4">{{durationHours}}</span> 
                          </mat-chip>
                        </mat-chip-list>
                       
                    </div>
                </div>
        </section>
       
        <!-- / CARD LAYOUT -->

    </div>
</div>
<pre>
    {{todaysDuration | json}}
</pre>